.container {
  border: 1px solid var(--primary-font-color);
  border-radius: 4px;
  width: 300px;
  min-height: 400px;
  position: relative;
}
.img {
  width: -webkit-fill-available;
}
.name {
  position: absolute;
  left: 5%;
  bottom: 14%;
}
.price {
  position: absolute;
  right: 5%;
  bottom: 8%;
  font-size: x-large;
}
.button {
  position: absolute;
  font-size: large;
}
.left {
  bottom: 3%;
  left: 5%;
}
.right {
  bottom: 3%;
  right: 5%;
}
