.container {
  border: 1px solid var(--primary-font-color);
  border-radius: 4px;
  max-width: 600px;
  min-height: 800px;
  position: relative;
  @media (max-width: 600px) {
    width: 300px;
    min-height: 450px;
  }
}
.img {
  width: -webkit-fill-available;
}
.name {
  position: absolute;
  left: 5%;
  bottom: 18%;
  font-size: 32px;
  @media (max-width: 600px) {
    font-size: 22px;
    bottom: 22%;
  }
}
.desc {
  position: absolute;
  bottom: 8%;
  font-weight: 600;
  font-size: 22px;
  margin: 1rem;
  @media (max-width: 600px) {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    bottom: 10%;
  }
}
.price {
  position: absolute;
  right: 5%;
  bottom: 14%;
  font-size: 32px;
  @media (max-width: 600px) {
    font-size: 22px;
    bottom: 17%;
  }
}
.stock {
  position: absolute;
  margin: 0;
  font-size: 20px;
  bottom: 3%;
  left: 5%;
}
.button {
  position: absolute;
  font-size: large;
  bottom: 3%;
  right: 5%;
}
