:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  --primary-font-color: #213547;
  --light-background: #f9f9f9;
}
body {
  margin: 0;
  text-align: center;
}
header {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
header div {
  display: flex;
  flex-direction: column;
}
.logo {
  height: 80px;
}
@media (max-width: 410px) {
  .logo {
    display: none;
  }
}
h1 {
  color: var(--primary-font-color);
  margin-bottom: 0.5rem;
}
.modal {
  display: none;
  background-color: #ffffff;
  padding: 1rem;
  border: var(--primary-font-color) solid 1px;
  font-weight: 600;
  font-size: larger;
  border-radius: 4px;
  position: fixed;
  top: 25%;
  z-index: 20;
  min-width: 250px;
}
main {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 1rem;
  justify-content: center;
  max-width: 1325px;
  /* min-height: 74vh; */
  /* height: -webkit-fill-available; */
}
@media (min-width: 1357px) {
  main {
    margin: 0 auto;
  }
}
h2 {
  margin-bottom: 0.5rem;
}
a {
  text-decoration: none;
}
button {
  border-radius: 4px;
  border: 2px outset;
  padding: 0em 2rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #96c35a;
}
.big-btn {
  margin-top: 4rem;
  font-size: 20px;
  padding: 0.8rem 2.5rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--primary-font-color);
    background-color: #ffffff;
  }
  button {
    background-color: var(--light-background);
  }
}
